{% block footer %}
    <footer id="sticky-footer" class=" footer py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Gamrat - 2019</small>
        </div>
    </footer>
{% endblock %}