<!DOCTYPE html>
<html>

{% include 'base/head.html.twig' %}
{% include'base/header.html.twig' %}
{% include 'base/menu.html.twig' %}

<body>
{% block body %}{% endblock %}
</body>
{% include 'base/footer.html.twig'%}
{% include 'base/js.html.twig' %}
</html>
